<h1> All events </h1>

<% if @previous_events.any? %>
  <h2> Previous Events </h2>
  <ol>
    <% @previous_events.each do |previous_event| %>
    <% if previous_event.attendees.exists?(current_user.id) %>
      <li><%= link_to previous_event.title, previous_event %>, date: <%= previous_event.date %></li>
    <% end %>
    <% end %>
  </ol>
<% end %>

<% if @upcoming_events.any? %>
  <h2> Upcoming Events </h2>
  <ol>
    <% @upcoming_events.each do |upcoming_event| %>
    <% if upcoming_event.attendees.exists?(current_user.id) %>
      <li><%= link_to upcoming_event.title, upcoming_event%>, date: <%= upcoming_event.date %></li>
    <% end %>
    <% end %>
  </ol>
<% end %>


